{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Política de cookies{% endblock %}</title>
</head>
<body>
{% block content %}
<div id="box1">
    <p> INFORMACIÓN SOBRE COOKIES<br><br>
        Debido a la entrada en vigor de la referente modificación de la “Ley de Servicios de la Sociedad de la Información” (LSSICE) establecida por el Real Decreto 13/2012, es de obligación obtener el consentimiento expreso del usuario de todas las páginas web que usan cookies prescindibles, antes de que éste navegue por ellas.<br><br>

¿QUÉ SON LAS COOKIES?<br><br>
        Las cookies y otras tecnologías similares tales como local shared objects, flash cookies o píxeles, son herramientas empleadas por los servidores Web para almacenar y recuperar información acerca de sus visitantes, así como para ofrecer un correcto funcionamiento del sitio.
Mediante el uso de estos dispositivos se permite al servidor Web recordar algunos datos concernientes al usuario, como sus preferencias para la visualización de las páginas de ese servidor, nombre y contraseña, productos que más le interesan, etc.<br><br>

COOKIES AFECTADAS POR LA NORMATIVA Y COOKIES EXCEPTUADAS<br><br>

Según la directiva de la UE, las cookies que requieren el consentimiento informado por parte del usuario son las cookies de analítica y las de publicidad y afiliación, quedando exceptuadas las de carácter técnico y las necesarias para el funcionamiento del sitio web o la prestación de servicios expresamente solicitados por el usuario.<br><br>

¿QUÉ TIPOS DE COOKIES EXISTEN?<br><br>
Sobre los tipos de cookies, existen cinco grandes grupos:<br>
Cookies analíticas: recogen información del uso que se realiza del sitio web.<br>
Cookies sociales: son aquellas necesarias para redes sociales externas.<br>
 Cookies de afiliados: permiten hacer un seguimiento de las visitas procedentes de otras webs, con las que el sitio web establece un contrato de afiliación (empresas de afiliación).<br>
Cookies de publicidad y comportamentales: recogen información sobre las preferencias y elecciones personales del usuario (retargeting).<br>
Cookies técnicas y funcionales: son las estrictamente necesarias para el uso del sitio web y para la prestación del servicio contratado.<br><br>
COOKIES QUE SE UTILIZAN EN ESTE SITIO WEB<br><br>
Lista de los nombres de las cookies, tipo, propietario, función y vencimiento:<br><br>
        PHPSESSID: cookie técnica y estrictamente necesaria que contiene el identificador de la sesión. Propiedad propia. Se elimina al cerrar el navegador.<br>
        _lang: cookie técnica y estrictamente necesaria que contiene el idioma de la sesión. Propiedad propia. Se elimina al cerrar el navegador.<br>
        ac_cookies: cookie técnica y estrictamente necesaria que contiene el valor de si se ha aceptado la instalación de cookies. Propiedad propia. Caduca en 1 año desde la última actualización.<br><br>
        REVOCACIÓN DEL CONSENTIMIENTO PARA INSTALAR COOKIES<br><br>
COMO ELIMINAR LAS COOKIES DEL NAVEGADOR<br><br>
Para información sobre Chrome pulse aquí: <a href="http://support.google.com/chrome/answer/95647?hl=es">Google Chrome</a><br>
        Para información sobre Internet Explorer pulse aquí: <a href="http://windows.microsoft.com/es-419/windows7/how-to-manage-cookies-in-internet-explorer-9">Internet Explorer</a> <br>
        Para información sobre Mozilla Firefox pulse aquí: <a href="https://www.mozilla.org/es-ES/privacy/websites/#cookies">Mozilla Firefox</a> <br>
        Para información sobre Safari pulse aquí: <a href="http://support.apple.com/kb/PH5042">Safari</a> <br>
        Para información sobre Ópera pulse aquí: <a href="https://help.opera.com/en/latest/security-and-privacy/#clearBrowsingData">Ópera</a>




</p>
</div>
{% endblock %}

</body>
</html>